<section class="product__container">
  <div class="product-image__container">
      <img [src]="product?.image" alt="product.description">
  </div>
  <div class="product-description__container">
      <h2 class="product__name">{{ product?.description }}</h2>
      <h3 class="product__price">{{ product?.price | currency: "BRL" }}</h3>
      <p>Diponível em estoque</p>
      <label for="">
          Quantidade:
          <!-- User entries a quantity (Minimum value = 1) -->
          <input type="number" [(ngModel)]="quantity" min="1">
          Unidades(s)
      </label>
      <p class="product__availability">
          {{ product?.stock }} unidade(s) em estoque
      </p>
      <button>Adicionar ao carrinho</button>
  </div>
</section>
